*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.one{
    width: 50%;
    height: 200px;
    float: left;
    display: grid;
    border: 1px solid black;
    background-color: rgb(15, 14, 13);
   
  
    
}
.two{
    width: 50%;
    height: 200px;
    float: right;
    display: grid;
    border: 1px solid black;
   
}
.pa{
    width: 100%;
    height: 200px;
    display: grid;
}


.three{
    width: 100%;
    height: 300px;
    background-color: rgb(23, 249, 249);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    border-radius: 10px;
}
    